{% extends 'main/base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать на третий урок</h1>
    <p class="lead">Проект использует базу данных Django, в которой будут все те же поля, что мы делали на уроке DJ02, плюс поле с именем пользователя, который выкладывает новость.</p>
    <hr class="my-4">
    <h3>Будем выводить на сайте всю информацию о новости полностью.</h3>
    <p>Это блок контента, который подключается к базовому шаблону.</p>
</div>
{% endblock %}
